{% extends 'base.html' %}
{% block title %}Novidades{% endblock %}

{% block content %}
<style>
.centro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}
</style>

<div class="centro">
    <h1>Últimas Novidades do Islink</h1>
    <p>Inscreva-se na nossa newsletter para receber as últimas atualizações!</p>
    <p>{{mensagem1}}</p>
    <p>{{mensagem2}}</p>

    <form action="/inscrever" method="post">
        <input type="text" name="nome" placeholder="Seu nome" required>
        <input type="email" name="email" placeholder="Seu email" required>
        <button type="submit">Inscrever</button>
    </form>

    <br>
    <br>
    <h2>Usuários Inscritos</h2>
    <ul>
        {% for usuario in usuarios %}
            <li>{{ usuario[0] }} - {{ usuario[1] }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}
